.bt {
      background-color: #1E90FF;
      border: none;
      color: white;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
	  font-family: arial;
      display: inline-block;
      font-size: 20px;
      margin: 10px 50px;
      cursor: pointer;
}

.fr{
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.zap{
width: 500px;
}
